<template>
  <div id="app">
    <div class="container mx-auto py-4">
      <div class="flex flex-col">
        <div class="mx-auto rounded shadow-md text-center svg-canvas">
          <svg ref="canvas" height="250" width="250"></svg>
        </div>

        <div class="mx-auto mt-5 w-1/3">
          <textarea
            class="form-textarea mt-1 block w-full px-2 py-2 rounded focus:outline-none focus:shadow-outline shadow-sm"
            rows="3"
            placeholder="Enter some commands"
            v-model="userInput"
          ></textarea>
          <button
            class="bg-transparent mt-4 block w-full hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
            @click="handleSubmit"
          >Draw</button>
          <div
            v-if="error.show"
            class="mt-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
            role="alert"
          >
            <span class="block sm:inline">{{error.msg}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const svgNs = 'http://www.w3.org/2000/svg'

export default {
  name: 'App',
  data: function() {
    return {
      userInput: null,
      error: {
        show: false,
        msg: ''
      }
    }
  },
  methods: {
    handleSubmit: function() {
      // Clear canvas
      this.clearCanvas()
      
      const input = this.userInput
      if (!input) return
      const commands = input.split(/\r?\n/)
      commands.forEach(command => {
        const commandArr = command.trim().split(' ')
        const commadType = commandArr[0]
        switch (commadType) {
        case 'c':
          this.drawCircle(commandArr)
          break
        case 'r':
          this.drawRect(commandArr)
          break
        case 'p':
          this.drawPolygon(commandArr)
          break
        default:
          this.showError(`${commadType}: command not found`)
        }
      })
    },
    drawCircle: function(elm) {
      const requiredParams = 4
      if(elm.length === requiredParams) {
        const circle = document.createElementNS(svgNs, 'circle')
        const x = elm[1]
        const y = elm[2]
        const radius = elm[3]
        circle.setAttributeNS(null, 'cx', x)
        circle.setAttributeNS(null, 'cy', y)
        circle.setAttributeNS(null, 'r', radius)
        circle.setAttributeNS(null, 'fill', this.randomColor())
        this.$refs['canvas'].appendChild(circle)
      } else {
        this.showError('Error: Can not draw Circle. Please type the correct command eg. c [cx] [cy] [radius]')
      }
    },
    drawRect: function(elm) {
      const requiredParams = 5
      if(elm.length === requiredParams) {
        const rect = document.createElementNS(svgNs, 'rect')
        const x = elm[1]
        const y = elm[2]
        const height = elm[3]
        const width = elm[4]
        rect.setAttributeNS(null, 'x', x)
        rect.setAttributeNS(null, 'y', y)
        rect.setAttributeNS(null, 'height', height)
        rect.setAttributeNS(null, 'width', width)
        rect.setAttributeNS(null, 'fill', this.randomColor())
        this.$refs['canvas'].appendChild(rect)
      } else {
        this.showError('Error: Can not draw Rectangle. Please type the correct command eg. r [x] [y] [height] [width]')
      }
    },
    drawPolygon: function(elm) {
      const requiredParams = 4
      if(elm.length >= requiredParams) {
        const polygon = document.createElementNS(svgNs, 'polygon')
        const points = elm.slice(1)
        polygon.setAttributeNS(null, 'points', points)
        polygon.setAttributeNS(null, 'fill', this.randomColor())
        this.$refs['canvas'].appendChild(polygon)
      } else {
        this.showError('Error: Can not draw Polygon. Please type the correct command eg. p [pt1x, pt1y] [pt2x, pt2y] [pt3x, pt3y] ... ')
      }
    },
    randomColor: function() {
      return '#' + (Math.random().toString(16) + '00000').slice(2, 8)
    },
    clearCanvas: function(){
      this.$refs['canvas'].innerHTML = ''
      this.error.show = false
      this.error.msg = ''
    },
    showError: function(msg) {
      this.error.show = true
      this.error.msg = msg
    }
  }
}
</script>
<style lang="postcss">
.svg-canvas {
  background-image: url("/img/transparent-bg.svg");
}
</style>
